#nav-login-btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.cred-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cred-form-field {
    width: 50%;
    margin-top: 20px;
}

.cred-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: lightskyblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cred-errors {
    color: rgb(255, 73, 73);
    padding: 10px;
}

.cred-input
{
    border-radius: 5px;
    border-width: thin;
    border-color: rgb(9, 111, 243);
    font-size: 18px;
    height: 40px;

}

.cred-input:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;

}

.form-title {
    margin-top: 10%;
}
