#story-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ws-errors {
    color: rgb(255, 73, 73);
}

.ws-form-field {
    margin-top: 20px;
}

#ws-button {
    margin: 20px;
}
