#signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form-field {
    width: 50%;
    margin-top: 20px;
}

#signup-button {
    margin: 20px;
}

#signup-modal-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: sans-serif;
    font-size: x-small;
    cursor: pointer;
}
