
#ud-feed-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}

#ud-left-div {
    width: 20%;
    border: 2px solid black;
}

#ud-right-div {
    width: 20%;
    border: 2px solid black;
}

#ud-center-div {
    width: 60%;
    border: 2px solid black;
}
